{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial online de aprendizado e prevenção de plágio." %}{% endblock %}



{% block menu %}
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">AntiPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link active" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

      {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image:url('{{ STATIC_URL }}static/img/capa-home.jpg')">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Plágio:</h1>
              <h2>Aprender para combater</h2>
              <p class="lead">Tutorial online de aprendizado e prevenção do plágio</p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="site-section">
      <div class="container">
        <section class="school-features text-dark d-flex">

          <div class="inner">

           <div class="media d-block feature">
              <div class="media-body">
                <h3 class="mt-0">Aprenda em qualquer lugar</h3>
                <p>Por meio do computador, smartphones ou tablets, sem a necessidade de instalar um aplicativo, podendo ser acessado pelo navegador.</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="media-body">
                <h3 class="mt-0">Tutorial online</h3>
                <p>O conteúdo continua disponível sempre que quiser acessar, afinal é você quem faz a sua rotina de estudos.</p>
              </div>
            </div>

           

            <div class="media d-block feature">
              <div class="media-body">
                <h3 class="mt-0">Vídeos</h3>
                <p>Vídeos para estimular a sua construção do conhecimento de forma atrativa e criativa. </p>
              </div>
            </div>

             <div class="media d-block feature">
              <div class="media-body">
                <h3 class="mt-0">Teste seu conhecimento</h3>
                <p>Veja se você sabe o que é o plágio, assim como você pensa, e descubra em que nível você está e o que você precisa melhorar.</p>
              </div>
            </div>

           
          </div>
        </section>

        


      </div>
    </section>
    <!-- END section -->

{% endblock %}