{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Referência" %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">TutorPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_citacao' %}">Citações</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_resumo' %}">Resumo</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_referencia' %}">Referência</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

			{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}
			{% if user.is_authenticated and perms.quiz.change_quiz %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Área do professor</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                  <a class="dropdown-item" href="{% url 'admin:index' %}">Admnistração - Questionário</a>
                  <a class="dropdown-item" href="{% url 'quiz_marking' %}">Correção questionários</a>
				        </div>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link dropdown-toggle" href="">Área do professor</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Admnistração - Questionário</a>
                  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Correção questionários</a>
				        </div>
			</li>
			{% endif %}  

			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-12">
            <p class="meta">Tópico 3 - Como evitar o plágio - Referência </p>            
          </div>
 		<div class="row">
          <div class="col-md-12" align="justify">
             <hr/>
        <h1>Referência</h1> 
        <p> Segundo a ABNT NBR 6023:2002 (ASSOCIAÇÃO BRASILEIRA DE
        NORMAS TÉCNICAS, 2002c, p. 2), referência é “conjunto padronizado de elementos
        descritivos, retirados de um documento, que permite sua identificação individual.”</p>  
        <p> As referências devem ser alinhadas à margem esquerda do texto, de forma a
        identificar individualmente cada documento. A separação entre uma e outra referência
         deve ser feita por uma linha em branco de espaço simples.</p>
        <p> Os elementos principais da referência são: autoria, título e subtítulo, edição,
        local, editora, data, descrição física, ilustrações, dimensões, séries e coleções e,
        notas. 
        <p> Para mais detalhes de como fazer uma referência, consulte a fonte abaixo:
          <br>
		  <hr/>
         </div>
   
          
          <b>Fonte:</b>
          <p class="meta"> <a href="https://www.unifesp.br/campus/gua/images/Biblioteca/MANUAL_de_normaliza%C3%A7%C3%A3o_2020.pdf" target="_blank">Manual de normalização de trabalhos acadêmicos - Unifesp - Biblioteca da Escola de Filosofia, Letras e Ciências Humanas</a></p>
          
        </div>
		</div>
		<hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_resumo' %}" ><<- Resumo</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio ->></a></p>
					
				
				</div>
			</div>
	</section>
		
			
       

    {% endblock %}
       
     