{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Resumo" %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">TutorPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link active dropdown-toggle" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
                  <a class="dropdown-item" href="{% url 'siteTutorial_citacao' %}">Citações</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_citacaodireta' %}">Citação direta</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_citacaoindireta' %}">Citação indireta - paráfrase</a>
                  <a class="dropdown-item" href="{% url 'siteTutorial_citacaodecitacao' %}">Citação de citação</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_resumo' %}">Resumo</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_referencia' %}">Referência</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

      
      {% if user.is_authenticated and not perms.quiz.change_quiz %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}
     


    {% if user.is_authenticated and perms.quiz.change_quiz %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Área do professor</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                  <a class="dropdown-item" href="{% url 'admin:index' %}">Gerenciar Objetos de aprendizagem</a>
                   <a class="dropdown-item" href="{% url 'lista_aluno' %}">Consulta Alunos</a>
				        </div>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link dropdown-toggle" href="">Área do professor</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Gerenciar Objetos de aprendizagem</a>
                  <a class="dropdown-item" href="{% url 'lista_aluno' %}">Consulta Alunos</a>
				        </div>
			</li>
			{% endif %}  


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}
     <section class="site-section episodes">
      <div class="container">

	   <div class="row">
	  <!-- Sidebar -->

		
			<div class="w3-sidebar w3-bar-block w3-collapse w3-card-2 w3-animate-left" style="height:70%;font-size:14px;" id="mySidebar">
				<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Fechar &times;</button>
				<h4 class="categories">Tutorial online</h4>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_topico1' %}">1 - Redação acadêmica</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_topico2' %}">2 - Má conduta acadêmica</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_topico3' %}">3 - Como evitar o plágio</a>
                <a class="w3-bar-item w3-button" href="{% url 'siteTutorial_citacao' %}">3.1 - Citações</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_citacaodireta' %}">3.2 - Citação direta</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_citacaoindireta' %}">3.3 - Citação indireta - paráfrase</a>
                <a class="w3-bar-item w3-button" href="{% url 'siteTutorial_citacaodecitacao' %}">3.4 - Citação de citação</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_resumo' %}">3.5 - Resumo</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_referencia' %}">3.6 - Referência</a>
				<a class="w3-bar-item w3-button" href="{% url 'siteTutorial_topico4' %}">4 - Legislação e casos de plágio</a>
			</div>
	
	
	  
	<div class="w3-main" style="margin-left:200px">
		<div class="w3-teal">
		<button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
			<div class="w3-container">
				<h3 style="color:#fff">Tópico 3.5 - Como evitar o plágio - Resumo</h3>
			</div>
		</div>
	<div class="w3-container">
        
          <div class="col-md-12">
		  <div class="row bg-light align-items-center ">
                     
          
        <div class="col-md-12" align="justify">
                      
        <h1>Resumo</h1>
    	<b>Encontrar as principais ideias, parafrasear e citar a fonte.</b>
        <p>Um resumo é uma síntese das ideias-chave, atualizado em suas próprias palavras 
		 - ou seja, parafraseando. Sempre que você resumir, você deve ter cuidado 
		 para não copiar o texto exato da fonte original.</p>
         <h3>Como faço um resumo?</h3>
         <p>Um bom resumo:</p>
         <ul style="list-style-type:disc;">
            <li>Identifica o autor do texto original; </li>
            <li>Sintetiza ideias-chave do autor;</li>
            <li>Apresenta informação de forma neutra.</li>
         </ul>
         <p>Resumos podem variar de tamanho. Siga as instruções dadas pelo seu professor ou orientador para saber qual tamanho o resumo deve ter.</p>
         <h4>Um exemplo de resumo:</h4>
         <b>Texto original:</b><p>O homem como um ser racional, principal atributo que o diferencia dos demais seres vivos,
		   apoia-se em sua capacidade de pensar, refletir sobre suas ações, acumulando e desenvolvendo conhecimento, 
		   traçando planos e hipóteses, buscando superar as adversidades, na tentativa de controlar os fenômenos
		    naturais ou antropogênicos, transformando o espaço natural almejando qualidade de vida.</p>
            <p>Há uma perspectiva generalizada de que tecnologias são apenas equipamentos e aparelhos, 
			mas como ela engloba a engenhosidade do cérebro humano, tudo o que se produz torna-se tecnologia. 
			Na idade da pedra, por exemplo, para se defender de animais ferozes o homem usava armas,
			 elementos da natureza e aos poucos foram surgindo novas tecnologias, mas não apenas para defesa 
			 e sim para dominação. A partir daí começou uma guerra pela conquista de territórios. 
			 Do osso e a madeira utilizados como armas, passou-se a fazer uso de lanças, flechas,
			 barcos e até mesmo navios. Dessa forma, com a inovação tecnológica o homem começou uma busca 
			 incessante pelo acúmulo de riquezas. </p>
			 <p>Conforme o homem foi evoluindo, surgiu a necessidade de adaptação do meio. 
			 Criaram então a linguagem, números, roupas, cobertores, habitações, metalurgia, roda, arado, 
			 construíam obras públicas, fundaram cidades e desenvolveram várias formas de obtenção de energia,
			  etapas que contribuíram para universalidade do desenvolvimento social e cultural do povos.</p>
           
           ARAÚJO, SP de et al. Tecnologia na Educação: Contexto Histórico. Papel e Diversidade. IV Jornada de Didática e III Seminário de Pesquisa do CEMAD, v. 40, p. 920-928, 2017.
<br>
         <b>Resumo um parágrafo:</b>
		 <p>Para Araújo et al. (2017), o que diferencia o homem dos demais seres é sua capacidade de raciocinar. 
		 Para eles, tudo o que o homem cria é tecnologia, desde um complexo computador a uma simples pedra dilapidada e,
		  a partir do momento em que o ser humano passou a utilizar instrumentos rudimentares,
		   adaptando-se ao ambiente onde vive, iniciou-se a corrida tecnológica, que, com ela,
		    ao longo da evolução humana, muitos itens tecnológicos foram criados, 
			contribuindo para o desenvolvimento sócio-cultural.</p>

         <b>Por que é um bom resumo?</b>
         <p>Identifica o autor, a data de publicação, a fonte, e reafirma as ideias-chave que utilizando redação original. 
		 Resume o ponto de vista apresentado pelo autor, de forma neutra.</p>
         
         		
		
         <hr/>
          <p><b>Adaptado de:</b></p>
          <p class="meta"> <a href="https://integrity.mit.edu/handbook/academic-writing/summarizing" target="_blank">Academic Integrity at MIT - A Handbook for Students</a></p>
          </div>
        </div>
		
	</div>
		<hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_citacaodecitacao' %}" ><<- Citação de citação</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					<p class="meta"> <a href="{% url 'siteTutorial_referencia' %}">Referência ->></a></p>
					
				
				</div>
			</div>
	</div>
	</div>
	</div>
	</div>
	
	</section>
		
			
       

    {% endblock %}
       
     