{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Legislação e casos de plágio." %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">AntiPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

			{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="contact.html">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}
    
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-9">
            <p class="meta">Tópico 4 - Legislação e casos de plágio</a></p>
            
          </div>

          <div class="row">
          <div class="col-md-10" align="justify">
            <hr/>
            <h1><b>Legislação</b></h1>
           
           
            <p>É importante compreender que os padrões de reutilização de produção criativa variam de disciplina para disciplina e cultura para cultura.</p>
            <p>No Brasil, a <a href="http://www.planalto.gov.br/ccivil_03/leis/l9610.htm" target="_blank"><b>Lei 9.610/1998 </b></a> trata do direito autoral. Em muitos de seus artigos são determinadas as consequências para quem comete plágio. Veja:</p>
            <blockquote>
              <p>Art. 103 – Quem editar obra literária, artística ou científica, sem autorização do titular, perderá para este os exemplares que se apreenderem e pagar-lhe-á o preço dos que tiver vendido.</p>
              <p>Art. 106 – A sentença condenatória poderá determinar a destruição de todos os exemplares ilícitos, bem como as matrizes, moldes, negativos e demais elementos utilizados para praticar o ilícito civil, assim como a perda de máquinas, equipamentos e insumos destinados a tal fim ou, servindo eles unicamente para o fim ilícito, sua destruição.</p>
            </blockquote>
            <hr/>
            <h1>Casos de plágio</h1>
            <p>Pesquisando na internet é possível verificar algumas das consequências deste crime.</p>
            <p>No site da <a href="https://educacao.uol.com.br/album/2013/11/18/colas-e-trapacas.htm?mode=list&foto=1" target="_blank"><b>UOL Educação </b></a> é possível visualizar os 15 casos famosos de cola e plágio acadêmico.</p>

           <p>Alguns citados no site , por exemplo são:</p>
            <ul style="list-style-type:disc;">
              <li><a href="https://educacao.estadao.com.br/noticias/geral,professor-da-usp-e-demitido-por-plagio,682903" target="_blank"> Professor da USP que foi demitido por liderar um estudo com trechos de outro trabalho;</a></li>
              <li><a href="http://g1.globo.com/mundo/noticia/2011/03/ministro-acusado-de-plagio-renuncia-na-alemanha.html" target="_blank">Ministro acusado de plágio acadêmico renúncia na Alemanha;</a></li>
              <li><a href="https://exame.abril.com.br/mundo/ministra-alema-perde-titulo-de-doutora-por-plagiar-tese/" target="_blank">Ministra alemã perde título de doutora por plagiar tese.</a></li>
            </ul>
            <p>A acusação de plágio pode ter consequências graves, incluindo a expulsão de uma universidade ou perda de um emprego, para não mencionar a perda de credibilidade e reputação profissional.</p>
           
          </div>
        </div>
        </div> 

		<hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico3' %}" ><<-Como evitar o plágio</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					
					
				
				</div>
			</div>

    </section>

{% endblock %}