{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Como evitar o plágio." %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">AntiPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

      {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

  
{% block content %}
    
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-9">
            <p class="meta">Tópico 3 - Como evitar o plágio</a></p>
            <p>Vamos ensinar maneiras de evitar o plágio na escrita acadêmica</p>
            <div class="video-container">
                    <iframe src="https://h5p.org/h5p/embed/617" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
                    
            </div>
          </div>

          <div class="row">
          <div class="col-md-12" align="justify">
            <hr/>
            <h1><b>Como evitar o plágio</b></h1>
           
            <b>Incorporando as palavras e ideias dos outros</b>
            <p>O plágio, na maioria das vezes acontece de forma não intencional. Isso pode acontecer quando você tenta colocar informações de uma fonte em suas próprias palavras, mas não consegue fazê-la corretamente. Muitas vezes, o plágio ocorre não porque um estudante está tentando enganar, mas porque não foi ensinado como incorporar as palavras e ideias dos outros de forma adequada.</p>
            
            <p>Existem várias opções para incorporar as palavras e ideias dos outros em seu próprio trabalho. Clique nos botões para abrir o conteúdo.</p>
          
            
            <button class="accordion1" placeholder="Clique no botão para abrir o conteúdo.">Citar diretamente:</button>
            <div class="panel1">
              <h3>Citação direta</h3>
             <p>Citação direta é a transcrição na íntegra de parte da obra do autor consultado.</p>
             <p>Há dois tipos de citação direta:</p>
              <ul style="list-style-type:disc;">
                <li><b>curta</b> (até 3 linhas);</li>
                <li><b>longa</b> (mais de 3 linhas). A indicação da página é obrigatória.</li>
              </ul>
              <p><b>Não faça citação direta o tempo todo:</b>  reserve está situação para casos especiais.</p>

              <h3>Quando devo fazer citação direta?</h3>
              <ul style="list-style-type:disc;">
                <li>Quando a linguagem é particularmente viva ou expressiva;</li>
                <li>Quando o texto exato é necessário para a precisão técnica;</li>
                <li>Quando são as palavras de uma autoridade importante, para dar peso a um argumento.</li>
              </ul>
              <h3>Como posso mostrar que estou citando a fonte corretamente?</h3>
              <ul style="list-style-type:disc;">
                <li>Utilizando aspas em citação curta; </li>
                <li>Para citações longas, utilizando recuo de 4cm, fonte tamanho 10, não utilizar aspas;</li>
                <li>Cite a fonte de forma adequada.</li>
              </ul>
              <b>Se você não fizer, é plágio.</b>
              <p>Exemplo de citação direta curta.</p>
             <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Original</th>
                  <th>Citação correta</th>
                  <th>Plágio</th>
                </tr>
                <tr>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”.</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                </tr>
                
              </table>
              <br>
              </div>
              <p>Exemplo de citação direta longa.</p>
             <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Original</th>
                  <th>Citação correta</th>
                  <th>Plágio</th>
                </tr>
                <tr>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”.</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                </tr>
                
              </table>
              <br>
              </div>
            </div>
            

            <button class="accordion1">Citar indiretamente - Paráfrase:</button>
            <div class="panel1">
              <h3>Citação indireta</h3> 
              <p>Depois de aprender a fazer citação direta corretamente, você pode se sentir tentado a escrever trabalhos consistindo principalmente ou inteiramente de aspas. Se você entregar esse trabalho, provavelmente descobrirá que seus professores ou orientadores irão devolver sem ler. Geralmente eles esperam muito mais de você. De fato, na redação acadêmica a citação direta é usada raramente. Portanto, você deverá parafrasear. </p>
              <h3>O que é paráfrase</h3>
              <p><b>Paráfrase</b> é um recurso de interpretação textual que consiste na reformulação de um texto, trocando as palavras e expressões originais, mas mantendo a ideia central da informação. Desta forma, você mantém o sentido do texto original, mas não copia a sua formulação exata.</p>

              <h3>Quais  estratégias posso usar para  fazer uma paráfrase?</h3>
              <ul style="list-style-type:disc;">
                <li>Use sinônimos para todas as palavras que não são genéricas. Palavras como mundo, comida, ou a ciência são tão básicos para o nosso vocabulário que é difícil encontrar um sinônimo;</li>
                <li>Alterar a estrutura da frase;</li>
                <li>Alterar a voz de ativa para passiva e vice-versa;</li>
                <li>Alterar partes do texto mantendo o sentido do texto original.</li>
            </ul>



            <b>Uma boa paráfrase combina uma série de estratégias: o objetivo é reformular a informação para que ela pareça com suas palavras, e não as do autor.</b>
            <p>Exemplo1: Usando estratégias múltiplas para Paráfrase</p>
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Original</th>
                  <th>Paráfrase aceitável 1</th>
                  <th>Paráfrase aceitável 2</th>
                </tr>
                <tr>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”.<br>
                  <b>O que o escritor fez?</b>
                  <ul style="list-style-type:disc;">
                    <li>Usou sinônimos; </li>
                    <li>Mudou a estrutura da frase;</li>
                    <li>Alterou a voz;</li>
                    <li>Citou a fonte.</li>
                  </ul>
                  </td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”<br>
                    <b>O que o escritor fez?</b>
                    <ul style="list-style-type:disc;">
                      <li>Usou sinônimos; </li>
                      <li>Mudou a estrutura da frase ( usou duas frases ao invés de uma);</li>
                      <li>Alterou a voz;</li>
                      <li>Mudou parte da texto;</li>
                      <li>Citou a fonte.</li>
                    </ul>

                  </td>
                </tr>
                
              </table>
              <br>
              </div>

              <p>Exemplo2: Paráfrase inaceitável</p>
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th>Original</th>
                  <th>Paráfrase inaceitável 1</th>
                  <th>Paráfrase inaceitável 2</th>
                </tr>
                <tr>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”</td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”.
                    <br>
                    <b>Por que é inaceitável?</b>
                    <ul style="list-style-type:disc;">
                      <li>O escritou manteve exatamente a mesma estrutura da frase; </li>
                      <li>O escritor substituiu alguns sinônimos em certos lugares, em outros, o texto é exatamente o mesmo que a do original;</li>
                      <li>Mesmo que o escritor mencionou a fonte original na frase introdutória, o resultado é plágio.</li>
                    </ul>
                  </td>
                  <td>Segundo Teixeira (1998, pág.35) “A ideia de que a mente funciona como um computador digital e que este último pode servir de modelo ou metáfora para conceber a mente humana iniciou a partir da década de 40”
                    <br>
                    <b>Por que é inaceitável?</b>
                    <ul style="list-style-type:disc;">
                      <li>Embora o  escritor mudou a estrutura da frase, frases-chave foram tomadas diretamente a partir do original;</li>
                      <li>Mesmo que o escritor mencionou a fonte original na frase introdutória, o resultado é plágio.</li>
                    </ul>
                  </td>
                </tr>
                
              </table>
              <br>
              </div>
              <p></p>

            </div>

            <button class="accordion1">Resumindo:</button>
            <div class="panel1">
              <h3>Resumo</h3>
              <b>Encontrar as ideias-chave, paráfrasea-los e identificar a fonte.</b>
              <p>Um resumo é uma síntese das idéias-chave de um pedaço de texto, atualizado em suas próprias palavras - ou seja, parafraseado. Você pode escrever um resumo de um trabalho autônomo ou como parte de um artigo mais longo. Sempre que você resumir, você deve ter cuidado para não copiar o texto exato da fonte original.</p>
              <h3>Como faço um resumo?</h3>
              <p>Um bom resumo:</p>
              <ul style="list-style-type:disc;">
                <li>Identifica o autor do texto original; </li>
                <li>Sintetiza ideias-chave do autor;</li>
                <li>Apresenta informação de forma neutra.</li>
              </ul>
              <p>Resumos podem variar de tamanho. Siga as instruções dadas pelo seu professor ou orientador para saber qual tamanho o resumo deve ter.</p>
              <h4>Um exemplo de resumo:</h4>
                <b>Texto original:</b><br>

                <b>Resumo um parágrafo:</b><br>

                <b>Por que é um bom resumo?</b>
                <p>Identifica o autor, a data de publicação, a fonte, e reafirma as ideias-chave que utilizam redação original. Resume os relatórios sobre o ponto de vista do autor, de forma neutra.</p>
              <hr>
              <h3>Qual a direfença entre paráfrase e resumo?</h3>
              <p>Resumo e paráfrase são um pouco diferentes. Uma paráfrase é aproximadamente o mesmo comprimento que a fonte original, enquanto um resumo é muito mais curto. No entanto, quando você resumir, você deve ter cuidado para não copiar o texto exato da fonte original. Seguir as mesmas regras como você faria para paráfrase. </p>
            </div>

            
            <hr/>
            <p>A forma que você usará para citar e referênciar dependerá do estilo de citação que será usado:</p>
            <ul style="list-style-type:disc;">
              <li>ABNT - Associação Brasileira de Normas Técnicas - é o órgão responsável por regular e orientar a normalização de todos os trabalhos acadêmicos que são publicados no Brasil.;</li>
              <li>APA - O estilo American Psychological Association é frequentemente utilizado pela história, economia, psicologia e ciência política;</li>
              <li>Vancouver - comumente usado nas publicações científicas da área de ciências médicas e da saúde.</li>
            </ul>
            <p>Existem outros estilos de citação. Algumas revistas acadêmicas, por exemplo, têm os seus próprios estilos. Siga as instruções do seu professor ou orientador para saber qual estilo usar.</p>
            <b>Neste tutorial, todos os exemplos estarão no estilo de citação  e referência ABNT.</b>
          <hr/>
          <b>Adaptado de:</b>
          <p class="meta"> <a href="https://integrity.mit.edu/handbook/academic-writing/incorporating-words-and-ideas-others" target="_blank">Academic Integrity at MIT - A Handbook for Students</a></p>
         
          </div>
        </div>
      </div>  

      <hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico2' %}" ><<-Má conduta acadêmica - plágio</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico4' %}" >Legislação e casos de plágio->></a></p>
					
				
				</div>
			</div>

  </section>

{% endblock %}