{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Como evitar o plágio." %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">TutorPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
          <a class="dropdown-item" href="{% url 'siteTutorial_citacao' %}">Citações</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_resumo' %}">Resumo</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_referencia' %}">Referência</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

      {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

  
{% block content %}
    
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-12">
            <p class="meta">Tópico 3 - Como evitar o plágio</a></p>
            <p>Vamos ensinar maneiras de evitar o plágio na escrita acadêmica</p>
            
          <hr/>
          </div>

          
          <div class="row">
          <div class="col-md-6" align="justify">
            <h1><b>Como evitar o plágio</b></h1>
            <b>Citando e referenciando as palavras e ideias de outras pessoas.</b>
            <p>O plágio, na maioria das vezes acontece de forma não intencional. 
            Isso pode acontecer quando você tenta colocar informações de uma fonte em suas 
            próprias palavras, mas não consegue fazer corretamente. Geralmente, o plágio ocorre porque
            o aluno não foi ensinado como incorporar as palavras e ideias de outras pessoas de forma 
            adequada.</p>
            
            <hr/>
            <p>Existem várias opções para incorporar as palavras e ideias de outras pessoas 
            em seu próprio trabalho:</p>
            <ul style="list-style-type:disc;">
              <li><b><a href="{% url 'siteTutorial_citacao' %}">Citar diretamente:</a></b> colocar entre aspas as palavras e citar a fonte;</li>
              <li><b><a href="{% url 'siteTutorial_citacao' %}">Citar indiretamente:</a></b> colocar as informações em suas próprias palavras e citar a fonte;</li>
              <li><b><a href="{% url 'siteTutorial_resumo' %}">Resumir:</a></b> encontrar as ideias-chave, parafrasear e citar a fonte.</li>
            
            </ul>
            <p> Não se esqueça de criar a <a href="{% url 'siteTutorial_referencia' %}"><b>referência bibliográfica</b></a> para cada fonte e 
            colocá-la no final do seu documento, essa padronização facilita as pesquisas posteriores. </p>

          </div>
          <div class="col-md-6" align="justify">
            <img src="static/img/identificar.png" alt="Identificar o plágio" width="500" height="629"/>
          </div>
          <hr/>
          </div>

          <div class="row">
          <div class="col-md-12" align="justify">


            
            <hr/>
            <p>A forma que você usará para citar e referenciar dependerá do estilo de citação que será usado:</p>
            <ul style="list-style-type:disc;">
              <li>ABNT - Associação Brasileira de Normas Técnicas - é o órgão responsável por regular e orientar a normalização de todos os trabalhos acadêmicos que são publicados no Brasil.;</li>
              <li>APA - O estilo American Psychological Association é frequentemente utilizado pela história, economia, psicologia e ciência política;</li>
              <li>Vancouver - comumente usado nas publicações científicas da área de ciências médicas e da saúde.</li>
            </ul>
            <p>Existem outros estilos de citação. Algumas revistas acadêmicas, por exemplo, têm os seus próprios estilos. Siga as instruções do seu professor ou orientador para saber qual estilo usar.</p>
            <b>Neste tutorial, todos os exemplos estarão no estilo de citação  e referência ABNT.</b>
          <hr/>
          <b>Adaptado de:</b>
          <p class="meta"> <a href="https://integrity.mit.edu/handbook/academic-writing/incorporating-words-and-ideas-others" target="_blank">Academic Integrity at MIT - A Handbook for Students</a></p>
          <p class="meta"> <a href="https://easybib.files.wordpress.com/2012/03/plagiarisim-011.jpg"> EasyBib </a>
          </div>
        </div>
      </div>  

      <hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico2' %}" ><<-Má conduta acadêmica - plágio</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					<p class="meta"> <a href="{% url 'siteTutorial_citacao' %}" >Citações - direta e indireta->></a></p>
					
				
				</div>
			</div>

  </section>

{% endblock %}