{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Redação acadêmica" %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">TutorPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item active" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_citacao' %}">Citações</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_resumo' %}">Resumo</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_referencia' %}">Referência</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

			{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-12">
            <p class="meta">Tópico 1 - Escrita acadêmica </p>
            <p>Vamos iniciar definindo a importância da redação acadêmica.</p>
          <div class="video-container">
             
             <iframe width="560" height="315" src="https://www.youtube.com/embed/4ViHAHAejOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
        </div>
 		<div class="row">
          <div class="col-md-12" align="justify">
             <hr/>
            <h1><b>Redação acadêmica</b></h1>
            <p>Copiar ideias de livros ou da internet não exige esforço e inteligência e o resultado pode parecer com um trabalho original. Porém, este ato não tem valor no meio acadêmico.</p> 
            <p>Um dos desafios da boa prática acadêmica é incorporar em seu trabalho o que já foi feito, dito ou discutido de uma forma original. Para alguns estudantes, esta tarefa pode parecer redundante e desnecessária, e muitos perguntam: “Se os aspectos positivos da pesquisa já foram argumentados, por que eu preciso fazer isso de novo?” A resposta é que:</p>

            <ul style="list-style-type:disc;">
              <li>Fazendo a pesquisa sobre o assunto, você se torna mais familiarizado com o trabalho acadêmico existente, que por sua vez pode fornecer modelos para a sua própria escrita;</li>
              <li>Sua maneira de apresentar as informações e argumentações será diferente dos outros e isso é valioso; e</li>
              <li>Como a informação mais recente sobre o assunto se torna disponível, você tem a oportunidade de trazer esta informação em seu relatório ou argumento, acrescentando novas dimensões para a discussão.</li>
            </ul>
            
			Desta maneira, aprender a escrever é aprender a pensar. Claro que você não terá muitos pensamentos originais,  
			mas você terá a sua maneira original de ver as coisas. Ao ler os trabalhos de outras pessoas, ponderar e discutir você está crescendo intelectualmente.

            <p>Quando você escreve um relatório ou um trabalho para a faculdade você pratica 
			a habilidade de escrita.
            A habilidade de escrita ajuda você a construir, entender, explicar e se expressar 
			melhor sendo muito importante em qualquer profissão que você seguir. </p>
		   <p>O objetivo dos relatórios e trabalhos escritos são melhorar sua compreensão sobre um assunto ou problema, aprender a expressar sua compreensão utilizando a escrita e ajudar o professor a avaliar quão bem você entendeu um tópico e se envolveu em um determinado assunto.</p>
            <p>A redação acadêmica é um desafio. Ela exige que você construa a partir do trabalho feito por outros algo original. Ao reconhecer de onde você usou as ideias, trabalho ou palavras dos outros, você mantém a sua integridade acadêmica e mantêm os padrões da Universidade e da disciplina em que você está estudando.</p>
          <hr/>
          <b>Adaptado de:</b>
          <p class="meta"> <a href="https://integrity.mit.edu/handbook/writing-original-work" target="_blank">Academic Integrity at MIT - A Handbook for Students</a></p>
          </div>
        </div>
		</div>
		<hr/>
			<div class="row">
			<div class="col" align="left">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topicos' %}" ><<-Tutorial online</a></p>
				
				</div>
		
				<div class="col" align="right">
				
					<p class="meta"> <a href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica- plágio->></a></p>
					
				
				</div>
			</div>
	</section>
		
			
       

    {% endblock %}
       
     