{% extends 'siteTutorial/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Tutorial Online - Má conduta acadêmica - plágio" %}{% endblock %}



{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">AntiPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item active" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}


{% block content %}

    
     <section class="site-section episodes">
      <div class="container">
        <div class="row bg-light align-items-center p-4 episode">
          <div class="col-md-9">
            <p class="meta">Tópico 2 - Má conduta acadêmica - plágio</a></p>
            <p>Olá! Antes de falar sobre o que é plágio, vamos falar sobre a má conduta acadêmica.</p>
            <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_EcXZ5ORakM?hl=pt&cc_lang_pref=pt&cc_load_policy=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

          <div class="row">
          <div class="col-md-10" align="justify">
            <hr/>
            <h1><b>Má conduta acadêmica - plágio</b></h1>
            <hr/>
            <h3>Má conduta acadêmica</h2>
            <p>Má conduta acadêmica é qualquer ação de trapaça que um aluno comete e sabe que levará a avaliação inadequada do trabalho acadêmico, enganando os professores para que receba uma nota não merecida.</p>
            <p>Enganar também viola a confiança mútua que deveria existir entre professor e aluno.</p>
            <h3>O que é Plágio?</h3>
            <p class="lead mb-5">Plágio é uma forma de má conduta acadêmica na qual você representa as palavras ou ideias de outra pessoa como sendo sua.</p>

            <ul style="list-style-type:disc;">
              <li>Ocorre quando você não dá o devido crédito por citação;</li>
              <li>Compromete a integridade do seu próprio trabalho;</li>
              <li>Pode ser intencional ou não intencional.</li>
            </ul>
            <hr/>
            <h3>O que é conhecimento comum?</h3>
            <p>Você pode ter ouvido as pessoas dizerem que você não tem que citar sua fonte, quando a informação que você incluir é de “conhecimento comum”. Mas o que é conhecimento comum?</p>
            <p><b>Conhecimento comum </b> são fatos e informações que podem ser encontrados em várias fontes diferentes e amplamente conhecidos por muitas pessoas diferentes. Isso inclui:</p>

             <ul style="list-style-type:disc;">
              <li><b>A informação que a maioria das pessoas sabem,</b> tal como a água congela a 32 graus Fahrenheit ou que Barack Obama foi o primeiro americano de raça mista a ser eleito presidente;</li>
              <li><b>Informações compartilhadas por um grupo cultural ou nacional,</b> como os nomes de heróis ou eventos famosos da história da nação que são lembrados e comemorados;</li>
              <li><b>Conhecimento compartilhado por membros de um determinado campo,</b> como o fato de que a condição necessária para difração de radiação de comprimento de onda de um sólido cristalino é dada pela lei de Bragg.</li>
            </ul>
            <p>Bem, este tutorial se concentra no plágio de trabalhos escritos, porém também é possível encontrar plágio em código-fonte de computador, expressões matemáticas, músicas e obras artísticas.</p>
            <h3>Os tipos mais comuns de plágio</h3>
             <hr/>
            <p>Os tipos mais comuns de plágio cometidos pelos estudantes são:</p>
            <ul style="list-style-type:disc;">
              <li>Copiar, recortar e colar textos inteiros ou parte deles da internet ou de livros;</li>
              <li>Usar arquivos de mídia como: imagens, gráficos, tabelas ou músicas sem citar a fonte;</li>
              <li>Utilizar da técnica de paráfrase incorretamente, substituindo algumas palavras por sinônimo ou trocando a ordem das palavras ou simplesmente parafraseando o texto e não inserindo a citação;</li>
              <li>Fabricar informações, citando uma fonte real e não utilizando no seu trabalho, falsificar dados e informações, procedimentos e resultados; e</li>
              <li>Utilizar ideias de outras pessoas, usando o trabalho sem dar crédito para a pessoa que produziu, ou comprar um trabalho online e submeter como se fosse seu.</li>
            </ul>
          <hr/>
          <b>Adaptado de:</b>
          <p class="meta"> <a href="https://integrity.mit.edu/handbook/citing-your-sources/what-common-knowledge" target="_blank">Academic Integrity at MIT - A Handbook for Students</a></p>
          <p class="meta"> <a href="https://www.youtube.com/watch?time_continue=10&v=pucifi7Y_xg&feature=emb_logo" target="_blank">OULIbraries</a></p>
          </div>
        </div>
        </div>     
    </section>

   
          
{% endblock %}