{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Todos alunos" %}{% endblock %}

{% block menu %}
  
<header role="banner">
     
	<nav class="navbar navbar-expand-md navbar-dark bg-light">
	  <div class="container">
		<a class="navbar-brand absolute" href="{% url 'siteTutorial_home' %}">TutorPlágio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
		  <ul class="navbar-nav mx-auto">
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_home' %}">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'siteTutorial_topicos' %}" id="dropdown04" data-toggle="dropdown-item" aria-haspopup="true" aria-expanded="false">Tutorial Online </a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico1' %}">Redação acadêmica</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico2' %}">Má conduta acadêmica - plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico3' %}">Como evitar o plágio</a>
				  <a class="dropdown-item" href="{% url 'siteTutorial_topico4' %}">Legislação e casos de plágio.</a>
				</div>
			</li>

			</li>
			
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'quiz_index' %}">Teste seu conhecimento</a>
			</li>

			{% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
            </li>
			{% else %}
			<li class="nav-item" style="display: none;">
					<a class="nav-link" href="{% url 'progress' %}">Seu progresso</a>
			</li>
			{% endif %}


			<li class="nav-item">
			  <a class="nav-link" href="{% url 'siteTutorial_contato' %}">Contato</a>
			</li>
		  </ul>
		  <ul class="navbar-nav absolute-right">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Ola, {{ user }}</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
			{% else %}
			<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
			{% endif %}
		  </ul>     
		</div>
	  </div>
	</nav>
</header>
  <!-- END header -->     
{% endblock %}

{% block content %}

<section class="site-section">
    <div class="container">
			<h2>{% trans "Lista de alunos" %}</h2>
				{% if aluno_list %}

					<table class="table table-bordered table-striped">

					<thead>
						<tr>
						<th>{% trans "Matrícula" %}</th>
						<th>{% trans "Usuário" %}</th>
						<th>{% trans "Turma" %}</th>
						<th>{% trans "Ano ingresso" %}</th>
						<th>{% trans "Campus" %}</th>
						<th></th>
						</tr>
					</thead>

					<tbody>
						<tr>
						<form action="" method="GET">
							<td></td>
							<td><input type="text" name="user_filter" /></td>
							<td><input type="text" name="turma_filter" /></td>
					
							<td></td>
							<td></td>
							<td><button type="submit" class="btn btn-info">{% trans "Filtrar"%}</button></td>
						</form>
						</tr>


					{% for aluno in object_list %}
						
						<tr>
						<td>{{ aluno.matricula }}</td>
						<td>{{ aluno.usuario }}</td>
						<td>{{ aluno.turma }}</td>
						<td>{{ aluno.anoingresso }}</td>
						<td>{{ aluno.campus }}</td>
				
						<td>	<a href="{% url 'quiz_user_detail' pk=aluno.usuario_id %}">
							{% trans "Questionários" %}
							<a href="{% url 'progress_detail' pk=aluno.usuario_id %}">
							{% trans "Progresso" %}
							</a></td>
						</tr>
					{% endfor %}

					</tbody>

					</table>
				{% else %}
					<p>{% trans "Não há alunos cadastrados" %}.</p>
				{% endif %}
			</div>
		</section>
{% endblock %}
