{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
{% trans "Resultado do" %} {{ sitting.quiz.title }} {% trans "para" %} {{ sitting.user }}
{% endblock %}


{% block content %}
<section class="site-section">
    <div class="container">
			<h2>{% trans "Título do questionário" %}: {{ sitting.quiz.title }}</h2>
			<h3>{% trans "Categoria" %}: {{ sitting.quiz.category }}</h3>
			<p>{{ sitting.quiz.description }}</p>
			<hr>
			<p>{% trans "Usário" %}: {{ sitting.user }}</p>
			<p>{% trans "Concluído" %}: {{ sitting.end|date }}</p>
			<p>{% trans "Pontuação" %}: {{ sitting.get_percent_correct }}%</p>

			<table class="table table-bordered table-striped">

			<thead>
				<tr>
				<th>{% trans "Questão" %}</th>
				<th>{% trans "Resposta do usuário" %}</th>
				<th></th>
				<th></th>
				</tr>
			</thead>

			<tbody>
			{% for question in questions %}

				<tr>
				<td>
					{{ question.content }}
					{% if question.figure %}
					<div style="max-width: 100px;"><img src="{{ question.figure.url }}" alt="{{ question.figure }}"/></div>
					{% endif %}
					{% if question.original_text %}
					<br>
					{{ question.original_text }}
					{% endif %}
				</td>
				<td>{{ question|answer_choice_to_string:question.user_answer }}</td>
				<td>
					{% if question.id in sitting.get_incorrect_questions %}
					<p>{% trans "Incorreta" %}</p>
					{% else %}
					<p>{% trans "Correta" %}</p>
					{% endif %}
				</td>
				<td>
					<form action="" method="POST">{% csrf_token %}
					<input type=hidden name="qid" value="{{ question.id }}">
					<button type="submit" class="btn btn-warning">{% trans "Alterar" %}</button>
					</form>
				</td>
				</tr>

			{% endfor %}

			</tbody>

			</table>
		</div>
	</section>
{% endblock %}
