{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}



{% block content %}
<section class="site-section">
    <div class="container">

		{% if user.is_authenticated %}
		<p>{% trans "Você já fez este exame e apenas uma sessão é permitida" %}.</p>
		{% else %}
		<p>{% trans "Este exame é acessível apenas para usuários conectados" %}.</p>
		{% endif %}

</div>
</section>
{% endblock %}
